html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: #415065;
  color: white;
}

.welcome {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.mainButtons {
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.welcome p {
  font-size: large;
}
